:root {
    --text-fontsize: 15pt;
    --gap: 64px;
}

body {
    font-family: "Maple Mono", monospace;
    background-color: #f0f0f0;
}

.content-container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 4px;

    &>.content {
        width: 100%;
        box-sizing: border-box;
        padding: 32px;
    }
}

textarea {
    box-sizing: border-box;
    border: none;
    resize: none;
    background-color: unset;
    font-size: var(--text-fontsize);
    transition: background-color ease-in-out 0.2s;
    background-color: unset;
    border: unset;
    resize: none;
    text-align: center;
    border-radius: 0.2em;
    padding: 4px;
}

textarea:hover {
    background-color: #e1e1e1;
}

#cards {
    box-sizing: border-box;
    background-color: #f0f0f0;
    padding: 32px 32px 16px 32px;


    &>textarea {
        margin-top: 8px;
        line-height: 1.5em;
        text-align: center;
        width: 100%;
        field-sizing: content;
        box-sizing: border-box;
    }


    &>.row {
        display: flex;
        flex-direction: row;
        gap: var(--gap);
    }
}

.card {
    box-sizing: border-box;
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    display: flex;


    &>.drop {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        border: 1px dashed rgb(167, 165, 165);
    }

    &>input[type="text"] {
        border: none;
        padding: 8px 4px;
        text-align: center;
        background-color: unset;
    }

    & img {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


button {
    appearance: none;
    background-color: #fbfbfb;
    border: var(--border-style);
    border-radius: var(--border-radius);
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
        rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292e;
    cursor: pointer;
    display: inline-block;
    font-size: 12pt;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 12px 20px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    height: 36px;
    justify-content: center;
    line-height: 0;
    border-radius: 8px;
}

button:hover {
    background-color: #f7f8f9;
    text-decoration: none;
    transition-duration: 0.1s;
}

button:disabled {
    background-color: #fafbfc;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959da5;
    cursor: default;
}

button:active {
    background-color: #edeff2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

button:focus {
    outline: 1px transparent;
}

button:before {
    display: none;
}

button:-webkit-details-marker {
    display: none;
}