:root {
    --text-fontsize: 15pt;
    --gap: 48px;
    --border: 1px dashed rgb(167, 165, 165);
    --background-color: #f0f0f0;
    --image-max-width: 60dvh;
}

body {
    font-family: "Maple Mono", monospace;
    background-color: var(--background-color);
    height: 100vh;
}

.content-container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex: 1;
    height: 100%;

    &>.content {
        width: 100%;
        box-sizing: border-box;
        padding: 32px;
        display: flex;
        flex-direction: column;
    }
}

textarea {
    box-sizing: border-box;
    resize: none;
    background-color: unset;
    font-size: var(--text-fontsize);
    transition: background-color ease-in-out 0.2s;
    background-color: unset;
    border: unset;
    resize: none;
    text-align: center;
    border-radius: 0.2em;
    width: 100%;
    field-sizing: content;
    overflow: hidden;
    padding: 24px 0;
}

textarea:hover {
    background-color: #e1e1e1;
}

#placeholder {
    display: none;
}


#placeholder:only-child {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0.5;
    font-style: italic;
}

#cards {
    box-sizing: border-box;
    background-color: var(--background-color);
    padding: 32px 32px 16px 32px;
    flex-direction: column;
    flex: 1;
    display: flex;

    &>textarea {
        margin-top: 8px;
        line-height: 1.5em;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }


    &>.row {
        display: flex;
        flex-direction: row;
        gap: var(--gap);
        overflow-x: scroll;
    }
}

.card {
    box-sizing: border-box;
    min-height: 600px;
    min-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    display: flex;
    overflow: hidden;

    &>.drop {
        height: 100%;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: var(--border);
        box-sizing: border-box;
        border-radius: 0.2em;
        align-items: center;

        &>span {
            font-size: 9pt;
        }

        &>img {
            max-height: var(--image-max-width);
        }
    }

    &>input[type="text"] {
        border: none;
        padding: 8px 4px;
        text-align: center;
        background-color: unset;
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


button {
    appearance: none;
    background-color: #fbfbfb;
    border: unset;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
        rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292e;
    cursor: pointer;
    display: inline-block;
    font-size: 12pt;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 12px 20px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    height: 36px;
    justify-content: center;
    line-height: 0;
    border-radius: 8px;
}

button:hover {
    background-color: #f7f8f9;
    text-decoration: none;
    transition-duration: 0.1s;
}

button:disabled {
    background-color: #fafbfc;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959da5;
    cursor: default;
}

button:active {
    background-color: #edeff2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

button:focus {
    outline: 1px transparent;
}

button:before {
    display: none;
}

button:-webkit-details-marker {
    display: none;
}

.note {
    border: unset;
    padding: 8px 8px;
    border-radius: 1em;
    opacity: 0.9;
    border: 1px solid #f5e5c1;
    background-color: #fffbd3;
    font-size: 12pt;
    field-sizing: content;
    min-width: 16px;
}

input[type="color"] {
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 8px;
    border: 2px solid rgb(112, 109, 109);
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}